*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;;
}

/* ########## Header ######### */

#header{
    position: sticky;
    width: 95%;
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
}

.logo .main-menu{
    width: 24px;
    margin: auto 10px;
}

.logo .youtubeLogo{
    width: 90px;
    margin: auto 10px;
}
.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 550px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 7px ;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.sButton{
    width: 60px;
    height: 40px;
    margin-left: -1px;  
    background-color: #f9f9f9;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.sIcon{
    width: 22px;
}

.voiceButton{
    width: 40px;
    height: 40px;
    margin: auto 10px;
    border: none;
    background-color: #f9f9f9;
    border-radius: 40px;
}
.micIcon{
    width: 26px;
    margin-top: 4px;
}

.rightIcons{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.menuIcon{
    width: 24px;
    margin: auto 10px;
}
.fa-ellipsis-v{
    margin: auto 25px;
}
.signInButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    height: 40px;
    padding: 10px;
    background-color: white;
    border: 1px solid #3a3adb;
    border-radius: 2px;
}
.fa-user-circle{
    color: #3a3adb;
}

h3 .signIn{
    font-weight: 500;
    color: #3a3adb;
}

/* ########### pageContent ########## */

.pageContent{
    background-color: #f9f9f9;
}

.container{
    width: 86%;
    margin: auto;
    padding-top: 20px;
    display: flex;
}

.content{
    width: 980px;
}

.mainVideo{
    margin-bottom: 15px;
}

.vidoeInteraction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1d9d9;
}

.videoTitle{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.views-date{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #606060;
    margin: 10px 0;
    display: flex;
    align-items: center;
    

}
.views-date ul{
    margin-left: 25px;
}

.like-share{
    display: flex;
    align-items: center;
}
.like{
    width: 80px;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}
.like img{
    width: 24px;
}

.dislike{
    width: 80px;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}

.dislike img{
    width: 24px;
    transform: rotate(180deg);
}

.share{
    width: 90px;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    border: none;
}
.share img{
    width: 24px;
}

.save{
    width: 90px;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    border: none;
}
.save img{
    width: 24px;
}
.report{
    width: 40px;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    border: none;
}

.report img{
    width: 18px;
}

.discribtion{
    padding: 14px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #e1d9d9
}
.channelLogo{
    display: flex;
    align-items: flex-start;

}
.channelLogo img{
    width: 45px;
    border-radius: 45px;
}

.discribtionInfo{
    padding: 0 15px;
    padding-top: 7px;
}
.channelName{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.subscribers{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #606060;
}
.describtion{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 10px auto;
    width: 600px;
}
.showMore{
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #606060;
}
.subscribe{
    padding: 7px;
}
.subscribe button{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #cf0101;
    color: #f9f9f9;
    border: none;
    border-radius: 2px;
    width: 105px;
    height: 35px;
}
/* ########### comments section ########### */
.comments{
    padding-top: 20px;
}
.commetsHead{
    display: flex;
    align-items: center;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.sortBy{
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.comment{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.commenterLogo{
    width: 40px;
    border-radius: 40px;
}
.comment input{
    margin-left: 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    border-bottom: 1px solid #e1d9d9;
    padding-bottom: 3px;
    background: transparent;
}
.commentInfo{
    margin-left: 20px;
}
.nameAndDate{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.commenterName{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}
.commentPuplishDate{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #606060;
    margin-left: 5px;
}
.singlecomment{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}
.commentInteractions{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}
.likeComment{
    display: flex;
    align-items: center;
}
.commentInteractions img{
    width: 20px;
}
.dislikeComment img{
    transform: rotate(180deg);
    padding-bottom: 5px;
}
.commentInteractions button{
    background: transparent;
    border: none;
    width: 40px;
}

/* ########## side bar ############# */

.sideBar{
    margin-left: 25px;
}
.suggestionVideo{
    display: flex;
    margin-bottom: 5px;
}
.suggestionVideo a img{
    width: 170px;
}
.sVideoInfo{
    margin-left: 10px;
}
.sVideoTitle{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 5px;
}
.sChannelName{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #606060;
}
.sViews-Date{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #606060;
    display: flex;
    align-items: center;
}
.sViews-Date ul{
    margin-left: 20px;
}